<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SGF Tools</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>SGF Tools reads your SGF files to choose games for its screensaver.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>SGF Tools reads your SGF files to choose games for its screensaver.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>SGF Tools reads your SGF files to choose games for its screensaver.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Pragmaphilia Labs
Copyright © 2026 John Mifsud. SGF Tools 1.x © 2009-2010 Jason Foreman and John Mifsud.
MIT License.</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>SGF Tools reads your SGF files to choose games for its screensaver.</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>SGF Tools reads your SGF files to choose games for its screensaver.</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.red-bean.sgf</string>
			<key>UTTypeDescription</key>
			<string>SGF game record</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeReferenceURL</key>
			<string>https://www.red-bean.com/sgf/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sgf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-go-sgf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
